body{
    background-color: rgb(214, 249, 154);
}
.font1{
font-family: "Science Gothic", sans-serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:
"slnt" 0,
"wdth" 100,
"CTRS" 0;
}
table{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
th{
    width: 20%;
    padding: 0%;
    margin: 0%;
}
td{
    text-align: center;
}
.imgd{
    font-weight: 700;
    height: 50px;
    font-size: large;
}
.textd{
    height: 120px;
    font-weight: 500;
}
#div1{
    text-align: center;
}
.img{
    margin: 0%;
    padding: 0%;
    border: 0px;
}
table{
    border: 5px solid black;
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(255, 255, 255);
}
footer{
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
